body {
    margin: 0px;
}

#header {
    height: 100vh;
    background-color: #042963;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 8px solid #b2dbdb;
}

#container,
#game {
    background-color: #335882;
    width: 1000px;
    height: 600px;
}

.ra {
    text-align: right;
}

.la {
    text-align: left;
}

th,
td {
    padding: 8px 26px;
}
