body {
    margin: 0px;
}

#page {
    height: 100vh;
    background-color: #042963;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    background-color: #335882;
    border: 8px solid #b2dbdb;
    width: 1000px;
    height: 600px;
}

#scoreboard {
    color: white;
    font-size: 16px;
}
